html {
  // overflow-x: hidden;
}

* {
  box-sizing: border-box;
  &::before,
  &::after {
    transition: 0.1s linear;
  }
}
body {
  font-family: "regular";
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  // overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
  }
}

.btn,
a {
  box-shadow: none;
  outline: none !important;

  &:focus {
    box-shadow: none;
    outline: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-family: "bold";
  margin: 0px;
}

a {
  text-decoration: none !important;
}

select,
input,
button {
  &:focus {
    box-shadow: none !important;
  }
}
